.header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(4, 75px);
    grid-gap: 10px;
    grid-template-areas: 'dp dp dp b1'
                      'b2 b3 b4 b5'
                      'b6 b7 b8 b9'
                      'b10 b11 b12 b13'
                      'b14 b15 b16 b17';
}

.grid-item {
    width: 75px;
    height: 75px;
    text-align: center;
    
}

#display {
    grid-area: dp;
    width: 245px;
    height: 75px;
    border-color: #6c757d;
    text-align: center;
    overflow: hidden;
}

#display:focus {
    box-shadow: 0 0 0 0.2rem #B5B9BC;
}

